<html>
<script src="https://kit.fontawesome.com/yourcode.js"></script>
<body>
  <!--header -->
  <div class="header">
    <img src="assets/img/BackgroundRoute.jpg" class="ImagePrincipal">
    <div class="centered">
        <img class="logoES" src="../../assets/img/ESLogo2_Black_NoBg_NoText_Reverse_278x155.png" />
        <span class="EStitle-black">xpress Shop</span>
    </div>
  </div>
  <!--contenue -->
  <div class="container">
    <section>
      <header>
            <h3>Qu'est-ce que Express Shop?</h3>
      </header>
      <p>
          Express Shop est un site web qui assure la gestion des commandes en ligne 
          entre les distributeurs et les fournisseurs. Le fournisseur se créer
          un compte sur le site, personnalise sa page et paramètres et ajoute ses 
          produits au site. Le distributeur se connecte sur le site et accède au menu 
          contenant tous les produits disponibles de tous les fournisseurs. 
          Il peut filtrer sa recherche pour obtenir ce qui recherche au plus bas prix. 
          Il peut aussi communiquer au fournisseur à l’aide d’une messagerie rapide. 
          Les items sélectionnés par le distributeur se retrouve dans un panier qu’il peut ensuite
          valider. En validant sa commande, les fournisseurs recevront le bon de commande et pourront
          ensuite valider la date d'arrivée. Les fournisseurs peuvent ajouter des produits qu’ils veulent
          mettre en vente, modifier la page de leur entreprise et tout comme les distributeurs 
          modifier leur compte. 
      </p>
      <p>
          Ce projet est aussi constitué d’une application mobile qui permet au distributeurs
          de se connecter avec son compte et de consulter ces commandes. 
          Celle-ci permet aussi de recevoir des notifications de la messagerie instantané 
          et de communiquer avec ces clients. Ils peuvent aussi soumettre une inscription par 
          l’application mobile et explorer les produits offerts par les fournisseurs. 
          Il pourra tout comme sur le site web compléter des commandes.
      </p>
    </section>
    <section>
      <header>
        <h3>Les membres de notre équipe</h3>
      </header>
        <table class="gridtable">
        <tr>
          <td>
            <div class="icon">
              <i class="material-icons md-48">account_circle</i>
            </div>
            <div>
                <h4>Charles Bourgeois</h4>
              <p>
                Développeur
              </p>
              <p>
                charles.bourgeois@live.ca
              </p>
            </div>
          </td>
          <td>
              <div class="icon">
                <i class="material-icons md-48">account_circle</i>
              </div>
              <div>
                <h4>Mathieu Sévigny-Lavallé</h4>
                <p>
                  Développeur
                </p>
                <p style="font-size:80%;">
                    mathieu.sevigny.lavallee@gmail.com
                </p>
              </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="icon">
                  <i class="material-icons md-48">account_circle</i>
                </div>
                <div>
                    <h4>Gabriel Fournier-Cloutier</h4>
                  <p>
                    Développeur
                  </p>
                  <p>
                      gabrielfournierc@gmail.com
                  </p>
                </div>
              </td>
              <td>
                  <div class="icon">
                    <i class="material-icons md-48">account_circle</i>
                  </div>
                  <div>
                      <h4>Jérémie Lacroix</h4>
                    <p>
                      Développeur
                    </p>
                    <p>
                      salutdada514@gmail.com
                    </p>
                  </div>
                </td>
        </tr>
        </table>
  </section>
  </div>
  <img src="assets/img/citynight.jpg" class="ImagePrincipal">
  <div class="vidéo">
    <header>
          <h2>Comment marche Express Shop?</h2>
    </header>
  </div>
</body>
</html>