<html>
<script src="https://kit.fontawesome.com/yourcode.js"></script>
<body>
  <!--header -->
  <div class="header">
    <img src="assets/img/BackgroundRoute.jpg" class="ImagePrincipal">
    <div class="centered">
        <img class="logoES" src="../../assets/img/ESLogo2_Black_NoBg_NoText_Reverse_278x155.png" />
        <span class="EStitle-black">xpress Shop</span>
    </div>
  </div>
  <!--contenue -->
  <div class="container">
    <section>
      <header>
            <h3>Qu'est-ce que Express Shop?</h3>
      </header>
      <p>
          Express Shop est un site web qui assure la gestion des commandes en ligne 
          entre les distributeurs et les fournisseurs. Le fournisseur se créer
          un compte sur le site, personnalise sa page et paramètres et ajoute ses 
          produits au site. Le distributeur se connecte sur le site et accède au menu 
          contenant tous les produits disponibles de tous les fournisseurs. 
          Il peut filtrer sa recherche pour obtenir ce qui recherche au plus bas prix. 
          Il peut aussi communiquer au fournisseur à l’aide d’une messagerie rapide. 
          Les items sélectionnés par le distributeur se retrouve dans un panier qu’il peut ensuite
          valider. En validant sa commande, les fournisseurs recevront le bon de commande et pourront
          ensuite valider la date d'arrivée. Les fournisseurs peuvent ajouter des produits qu’ils veulent
          mettre en vente, modifier la page de leur entreprise et tout comme les distributeurs 
          modifier leur compte. 
      </p>
      <p>
          Ce projet est aussi constitué d’une application mobile qui permet au distributeurs
          de se connecter avec son compte et de consulter ces commandes. 
          Celle-ci permet aussi de recevoir des notifications de la messagerie instantané 
          et de communiquer avec ces clients. Ils peuvent aussi soumettre une inscription par 
          l’application mobile et explorer les produits offerts par les fournisseurs. 
          Il pourra tout comme sur le site web compléter des commandes.
      </p>
    </section>
    <section>
        <section class="container mt-4 mb-4">
            <header>
                <h3>Les membres de notre équipe</h3>
              </header>
          <div class="container">
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="d-flex flex-row border rounded">
                    <div class="p-0 w-25">
                      <div class="centericon">
                          <mat-icon style="font-size: 80px;">account_circle</mat-icon>
                      </div>
                    </div>
                    <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
                        <h4 class="text-primary">Charles Bourgeois</h4>
                        <h5 class="text-info">Développeur</h5>
                        <p> charlesbourgeois@live.ca</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex flex-row border rounded">
                    <div class="p-0 w-25">
                        <div class="centericon">
                            <mat-icon style="font-size: 80px;">account_circle</mat-icon>
                        </div>
                      </div>
                    <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
                        <h4 class="text-primary">Mathieu Sévigny-Lavallé</h4>
                        <h5 class="text-info">Développeur</h5>
                        <p> charlesbourgeois@live.ca</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="d-flex flex-row border rounded">
                    <div class="p-0 w-25">
                        <div class="centericon">
                            <mat-icon style="font-size: 80px;">account_circle</mat-icon>
                        </div>
                      </div>
                    <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
                        <h4 class="text-primary">Gabriel Fournier-Cloutier</h4>
                        <h5 class="text-info">Développeur</h5>
                        <p>gabrielfournier.c@gmail.com</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex flex-row border rounded">
                    <div class="p-0 w-25">
                        <div class="centericon">
                            <mat-icon style="font-size: 80px;">account_circle</mat-icon>
                        </div>
                      </div>
                    <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
                        <h4 class="text-primary">Jérémie Lacroix</h4>
                        <h5 class="text-info">Développeur</h5>
                        <p>lacroixj21@videotron.ca</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </section>
  </section>
  </div>
  <div class="Profil">
      <img src="assets/img/citynight.jpg" class="ImagePrincipal">
      <div class="centervideo">
          <h1 style="color: white;">Comment fonctionne Express Shop?</h1>
          <div style="margin-top: 50px;">
              <iframe width="65%" height="700" src="//www.youtube.com/embed/YE7VzlLtp-4" frameborder="1" allowfullscreen></iframe>
          </div>
      </div>
    </div>
    <div class="container">
      <div class="fonctions">
          <h3>Fonctions de notre site</h3>
          <div style="padding-top: 50px;">
              <div class="row">
                  <div class="col-sm-6">
                      <div class="card">
                          <img class="card-img-top" src="assets/img/citynight.jpg">
                          <div class="card-body text-center"> 
                              <h5 class="card-title">Voir les produits offerts</h5>
                              <p class="card-text">Express shop vous permet de voir tous les produits offerts par les différents fournisseurs inscrit au site.</p>
                              <a href="#" class="btn btn-info">Voir la page</a>
                          </div>
                        </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="card">
                          <img class="card-img-top" src="assets/img/citynight.jpg">
                          <div class="card-body text-center"> 
                              <h5 class="card-title">Ajouter des produits à votre commande</h5>
                              <p class="card-text">Les distributeurs inscrits sur Express Shop peuvent compléter leur commande à l'aide de leur panier.</p>
                              <a href="#" class="btn btn-info">Voir la page</a>
                          </div>
                        </div>
                      </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                      <div class="card">
                          <img class="card-img-top" src="assets/img/citynight.jpg">
                          <div class="card-body text-center"> 
                              <h5 class="card-title">Voir vos commandes</h5>
                              <p class="card-text">Express Shop vous permet de consulter vos commandes en cours, ainsi que celle terminé.</p>
                              <a href="#" class="btn btn-info">Voir la page</a>
                          </div>
                        </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="card">
                          <img class="card-img-top" src="assets/img/citynight.jpg">
                          <div class="card-body text-center"> 
                              <h5 class="card-title">Voir les informations des fournisseurs</h5>
                              <p class="card-text">Express Shop vous permet de consulter les profils de tous les fournisseurs inscirt au site.</p>
                              <a href="#" class="btn btn-info">Voir la page</a>
                          </div>
                        </div>
                      </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                      <div class="card">
                          <img class="card-img-top" src="assets/img/citynight.jpg">
                          <div class="card-body text-center"> 
                              <h5 class="card-title">Modifier votre inventaire</h5>
                              <p class="card-text">Les fournisseurs peuvent ajouter, modifier et supprimer des produits de leur inventaire.</p>
                              <a href="#" class="btn btn-info">Voir la page</a>
                          </div>
                        </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="card">
                          <img class="card-img-top" src="assets/img/citynight.jpg">
                          <div class="card-body text-center"> 
                              <h5 class="card-title">Modifier les informations de votre profil</h5>
                              <p class="card-text">Les utilisateurs inscrits à Express Shop peuvent modifier les informations de leur profil.</p>
                              <a href="#" class="btn btn-info">Voir la page</a>
                          </div>
                        </div>
                      </div>
              </div>
          </div>
      </div>
    </div>
    <footer>
        <div class="container contact-form">
            <form [formGroup]="form">
                <h3>Envoyez nous un message</h3>
               <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="fieldinput" >
                            <input type="Nom" id="inputNom" name="Nom" ngModel class="form-control" matInput placeholder="Votre nom" formControlName="Nom">
                            <mat-error *ngIf="Nom.hasError('required')">Le nom est obligatoire</mat-error>
                        </mat-form-field>
                        <mat-form-field class="fieldinput"> 
                            <input type="email" id="inputemail" name="email" ngModel class="form-control" matInput placeholder="Votre adresse courriel" formControlName="email" style="outline:none;">
                            <mat-error *ngIf="email.hasError('required')">votre adresse courriel est obligatoire</mat-error>
                        </mat-form-field>
                        <div class="button_div">
                            <button type="submit" (click)="onSubmit(false)" class="button_login" mat-button>Envoyer le message</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="description-field">
                            <mat-label>Votre message</mat-label>
                            <textarea matInput placeholder="Votre message" name="message" formControlName="message" id="inputmessage" style="height: 80px;"></textarea>
                            <mat-error *ngIf="message.hasError('required')">Le message est obligatoire</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>
    </div>
    </footer>
</body>
</html>