
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card{
    width: 60%;
    height: 600px;
  }

  mat-form-field{
    font-size: 17px;
  }
  .RealForm{
    width: 80%;
  }

  input{
    width: 100%;
    font-size: 20px;
  }
  mat-error {
    font-size: 15px;
  }
  mat-checkbox{
    font-size: 17px;
  }

  mat-card-title{
    font-size: 35px;
    padding-top: 20px;
  }

  mat-card-title,
  mat-card-content {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }

  .error {
    position: relative;
    top: 40px;
    font-size: 17px;
    width: 100%;
    color:  red;
  }  
  
  .button_login {
    font-size: 17px;
    width: 23%;
    padding-right: 25px;
    float: right;
  }
  .button_Visit {
    font-size: 17px;
    padding-right: 25px;
    width: 23%;
  }
  .button_Subscribe {
    font-size: 17px;
    width: 23%;
    padding-right: 25px;
  }
  .BTN_User{
    font-size: 17px;
    position: relative;
    left: 40px;
    bottom: 280px;
  }
  .BTN_Pass{
    font-size: 17px;
    position: relative;
    right: 180px;
    bottom: 140px;
  }
  body{
    width: 100%;
    height: 100%;
    background: url("src/assets/holy.png");
  }

  app-pop-up{
    margin: 0px;
  }

  .EStitle-black {
    color: #424244;
    font-style: italic;
    font-weight: bold;
    font-size: 60px;
    position: relative;
    top: 20px;
  }
  
  .logoES {
    height: 150px;
  }
  .header{
    width: 100%;
    height: 80%;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
  }
  .row.custom{
      width: 150%;
      position: relative;
      top: 50px;
  }

  
@media only screen and (min-width: 1250px) {
  .BTN_User{
    left: 50px;
  }
  .BTN_Pass{
    right: 170px;
  }
}