.product-img-card {
    object-fit: cover;
}

app-product-card {
    /*display: inline-grid;*/
}

.supplier-name {
    width: max-content;
}

.price-text {
    display: inline-block;
    margin: 0px;
    width: calc(100% - 38px - 38px);
    text-align: center;
}

.product-card-content {
    text-align: justify;
    max-height: 34px;
}

.cart-btn {
    float: right;
}

.mdc-icon-button {
    padding: 0px;
    padding-top: 4px;
    top: 2.2px;
    width: 38px;
    height: 38px;
}

.mat-card-title {
    font-size: 18px;
    font-weight: 700;
}

@media only screen and (max-width: 900px) {
    .product-img-card {
        max-height: 250px;
    }

    .supplier-name {
        font-size: 12px;
    }
}

@media only screen and (min-width: 800px) {
    .product-img-card {
        max-height: 300px;
    }
}