.product-img-card {
    object-fit: cover;
}

app-product-card {
    display: inline-grid;
}

.product-card-content {
    text-align: justify;
}

.cart-btn {
    float: right;
}

.mdc-icon-button {
    padding: 0px;
    padding-top: 4px;
    top: 2.2px;
    width: 38px;
    height: 38px;
}

.mat-card-title {
    font-size: 18px;
    font-weight: 700;
}

@media only screen and (max-width: 900px) {
    .product-img-card {
        max-height: 250px;
    }
}

@media only screen and (min-width: 800px) {
    .product-img-card {
        max-height: 300px;
    }
}