.product-img-card {
    margin-left: auto;
    margin-right: auto;
    width:  150px;
    height: 170px;
}

.product-card {
    height: 100%;
}

.supplier-name {
    width: max-content;
}

.price-text {
    display: inline-block;
    margin: 0px;
    width: calc(100% - 38px - 38px);
    text-align: center;
}

.product-card-content {
    text-align: justify;
    max-height: 34px;
}

.cart-btn {
    float: right;
}

.mdc-icon-button {
    padding: 0px;
    padding-top: 4px;
    top: 2.2px;
    width: 38px;
    height: 38px;
}

.mat-card-title {
    font-size: 18px;
    font-weight: 700;
}

@media only screen and (max-width: 770px) {

    .product-img-card {
        height: 140px;
        width: 120px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .supplier-name {
        font-size: 12px;
    }
}
