input{
    width: 50px;
    border: aquamarine;
    text-align: center;
}
table {
    width: 100%;
}
.mat-table-sticky {
    border-top: 1px solid #e0e0e0;
  }
  tr.mat-footer-row {
    font-weight: bold;
  }