<h1>{{this.NOMPAGE}}</h1>


<table mdbTable>
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let p of TABelement; let i = index" [attr.id]="tr + p.id">
        <th scope="row">{{p.photo}}</th>
        <th>{{p.id}}</th>
        <th>{{p.nom}}</th>
        <th>{{p.prix}}</th>
        <th>
            
        </th>
        <th>{{this.SousTotal(i)}}</th>
      </tr>
    </tbody>
  </table>
  <table>
  <thead>
        <tr>
          <th>Total</th>
          <th class=""></th>
          <th></th>
          <th></th>
          <th>{{total}}</th>
        </tr>
      </thead>
    </table>
<br/>
  <p>test</p>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- image -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> image </th>
        <td mat-cell *matCellDef="let product"> {{product.photo}} </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>
      <!-- id -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let product"> {{product.id}} </td>
        <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>
      <!-- nom -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> nom </th>
        <td mat-cell *matCellDef="let product"> {{product.nom}} </td>
        <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>
      <!-- prix -->
      <ng-container matColumnDef="prix">
        <th mat-header-cell *matHeaderCellDef> prix </th>
        <td mat-cell *matCellDef="let product"> {{product.prix}} </td>
        <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>
      <!--qté-->
      <ng-container matColumnDef="quantité">
        <th mat-header-cell *matHeaderCellDef> quantité </th>
        <td mat-cell *matCellDef="let product">
           <button type="submit" (click)="this.increment(product.id - 1)" id="bt2plus">+</button>
            <input type="number" min="0" id="text+i" (keyup)="0" (key.enter)="set(product.id - 1)"  placeholder="{{product.qty}}">
          <button type="submit" (click)="this.decrement(product.id - 1)" id="bt2moin">-</button>
        </td>
        <td mat-footer-cell *matFooterCellDef>  </td>
        
      </ng-container>
      <!--sous total-->
      <ng-container matColumnDef="sous-total">
        <th mat-header-cell *matHeaderCellDef> sous-total </th>
        <td mat-cell *matCellDef="let product"> {{this.SousTotal(product.id - 1)}} </td>
        <td mat-footer-cell *matFooterCellDef> {{this.total}} </td>
      </ng-container>

      
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
