.mat-form-field {
    padding-left: 20px;
}

.grid-container {
    display: grid;
    
    grid-column-gap: 1%;
    grid-row-gap: 2%;

    padding-top: 10px;
}

/****************************************************************************************
    ADAPTING THE GRID TO DIFFERENT SIZES OF SCREENS

    We want N items of the same width, and we want a gap equal to 1% of the container's width between each item.
    For N items, we always have (N - 1) gaps, so the width of an item can be calculated as follows : (100% - (N - 1)%) / N%
****************************************************************************************/
@media only screen and (min-width: 800px) {
    .grid-container {
        grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
    }
}

@media only screen and (max-width: 799px) {
    .grid-container {
        grid-template-columns: 32.66% 32.66% 32.66%;
    }
}

@media only screen and (max-width: 500px) {
    .grid-container {
        grid-template-columns: 49.5% 49.5%;
    }
}
