<div class="container">

<mat-card class="filter-card" >

    <mat-form-field>
        <input matInput (keyup)="Filter(nom.value, idf.value)" placeholder="Nom" #nom>
    </mat-form-field>

    <mat-form-field>
        <input matInput (keyup)="Filter(nom.value, idf.value)"placeholder="Fournisseur" #idf>
    </mat-form-field>

    <!-- <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Prix min" value="min">
    </mat-form-field>

    <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Prix max" value="max">
    </mat-form-field> -->
</mat-card>

<ng-container *ngIf='(filteredProducts) as products'>
    <div class="grid-container">
        <ng-container *ngFor="let product of products">
            <app-product-card [product]="product" onclick=""></app-product-card>
        </ng-container>
    </div>
</ng-container>

</div>