.container {
    position: initial;
    padding-left: 0px;
}

#collapseBtn {
    left: -20px;
}

#collapseBtn .material-icons {
    margin-left: 7px;
    transform: rotate(180deg);
    transition: transform .4s ease-in;
}

#collapseBtn .rotatedIcon {
    transform: rotate(0deg);
}

.tags-display {
    color: rgba(0,0,0,.54);
    font-size: 12px;
}