<ng-container *ngIf="(loadedSuppliers | async) as users">
<mat-drawer-container class="container">

<mat-drawer #browserSection class="browse-section" mode="side" opened (openedChange)="onClickCollapseBtn($event)">
    <mat-form-field class="filter-form-field" [floatLabel]="never">
        <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche"/>
        <mat-hint>{{dataSource.filteredData.length}} résultats correspondent</mat-hint>
    </mat-form-field>

    <mat-divider></mat-divider>
    
    <mat-list>
        <mat-list-item *ngFor="let supplier of dataSource.filteredData; last as isLastSupplier" (click)="onClickSupplier(supplier)">
            <img matListAvatar src="https://pbs.twimg.com/profile_images/378800000498110973/232c0075e8606910dc6545d774b48d63_400x400.png" />
            <h4 mat-line>{{supplier.nomutilisateur}}</h4>

            <p mat-line class="tags-display">
                <ng-container *ngFor="let tag of supplier.tags; last as isLastTag">{{tag}}<ng-container *ngIf="!isLastTag">, </ng-container></ng-container>
            </p>
            <mat-divider [inset]="true" *ngIf="!isLastSupplier"></mat-divider>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</mat-drawer>

<mat-drawer-content class="profile-section">
    <button id="collapseBtn" class="mdc-icon-button" collapsed="false" (click)="browserSection.toggle()">
        <i class="material-icons mdc-icon-button__icon">forward</i>
    </button>
    
    <ng-container *ngIf="profileToShow">

        
            
            
        <div class="username-block">
                
            <h1>{{profileToShow.nomutilisateur}}</h1>
            <div class="boutton_messagerie">
                    <button mat-raised-button color="primary">Envoyer un message</button>
                    <button mat-raised-button color="primary" (click)="openPopUp()">Noter la compagnie</button>
                </div>
            
            <div class="info-block"> <h3>Infos</h3>
                <p>Description : {{profileToShow.description}}</p>
                <p>Tags : {{profileToShow.tags}}</p>
                <p>Nombre d'étoiles : {{rating}}
                <star-rating [value]="rating" checkedcolor="yellow" uncheckedcolor="black" size="30px" [readonly]="ratingreadonly">
                </star-rating></p>
                
            </div>
            <img class="shown-logo" src="https://pbs.twimg.com/profile_images/378800000498110973/232c0075e8606910dc6545d774b48d63_400x400.png" />
        </div>
        <div class="contact-block"> <h3>Contact</h3>
            <p>Email : {{profileToShow.email}}</p>
            <p>Telephone : {{profileToShow.telephone}}</p>
            <p>Adresse : {{profileToShow.adresse}}</p>
            <div class="map_container">
                    <agm-map 
                    [latitude]="location?.lat"
                    [longitude]="location?.lng"
                    [zoom]="zoom"
                    [disableDefaultUI]="false"
                    [zoomControl]="false">
                    <agm-marker [latitude]="location?.lat"
                    [longitude]="location?.lng"></agm-marker>

                  </agm-map></div>
        </div>
        
    </ng-container>
    
</mat-drawer-content>

</mat-drawer-container>
</ng-container>
<app-pop-up [isOpen]="popupvisible">
        <div style="text-align: center">
          <header>
            <span><b>Noter la compagnie:</b></span>
          </header>
          <main style="margin-top: 20px">
            <star-rating [value]="newnewrating" checkedcolor="yellow" uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event)" readonly>
            </star-rating>
          <button mat-raised-button color="primary" class="PanierButton" (click)="onClickNoterCompagnie()">confirmer</button>
          <button mat-raised-button color="primary" class="PanierButton" (click)="closePopUp()">annuler</button>      
          </main>
        </div>
      </app-pop-up>

