.container {
    position: initial;
    padding-left: 0px;
}

#collapseBtn {
    left: -20px;
    top: -165px;
}

#collapseBtn::before {
    opacity: 0.09;
}

#collapseBtn .material-icons {
    margin-left: 7px;
    transform: rotate(0deg);
    transition: transform .4s cubic-bezier(0.65, 0.05, 0.36, 1);
}

#collapseBtn .rotatedIcon {
    transform: rotate(180deg);
}

.tags-display {
    color: rgba(0,0,0,.54);
    font-size: 12px;
    width: 160px;
    text-overflow: ellipsis;
}

.filter-form-field {
    width: 228px;
    margin: 10px;
}

.results-found-text {
    font-size: 12px;
}

mat-list-item:hover {
    background-color: rgba(0,0,0,0.05);
}

mat-list {
    overflow: overlay;
    height: calc(100% - 118px);
    padding-top: 0px;
}

.username-block {
    display: inline-block;
    width: calc(100% - 48px);
}

.username-block h1 {
    display: inline-block;
    width: 100%;
}

.shown-logo {
    display: inline-block;
    position: absolute;
    top: 22px;
    max-width: 338px;
    vertical-align: bottom;
    border: solid 1px lightgray;
    border-radius: 15px;
}

.contact-block, .info-block {
    display: inline-block;
    box-shadow: inset 1px -1px 6px -1px rgba(179,179,179,1);
    padding: 10px;
    border-radius: 6px;
}

.info-block {
    width: calc(100% - 370px);
    height: 260px;
    margin-right: 10px;
}

.contact-block {
    position: relative;
    left: 48px;
    width: calc(100% - 68px);

    margin-top: 10px;
}
/*maps*/
agm-map{
    height: 300px;
    width:100%;
    padding: 10px;
}
.map_container{
    position: relative;
    width: calc(100% - 68px);
}

.boutton_messagerie{
    position: relative;
   padding: 1px;
}