form{
    width: 100%;
}

mat-form-field{
    padding-right:10px;
    align-self: auto;
  }

.example-chip-list{
    width: 100%;
}

.main-tr{
    width: 100%;
}
.tr-input{
    width: 100%;
}
.td-chips{
    width:45% ;
    height: 100%;
}

.td-input{
    width: 20%;
}

.td-button{
    width: 15%;
    align-self: auto;
    padding-top: 15px;
}


tr{
    height: 100%;
}

input{
    width: 100%;
}