/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
<<<<<<< HEAD

body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url('./campagne.jpg');
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
=======
/*@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css";*/
>>>>>>> 85c015b2d293c40f14c3f354fb89eeddb76cd1b7
