/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@material/icon-button/dist/mdc.icon-button";

body, html {
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  padding: 10px;
}

.outline-btn {
  box-shadow:
      inset 0 -0.47em 0 -0.35em rgba(0,0,0,0.17), 0 2px 1px -1px rgba(0,0,0,.2),
      0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.loadingText {
  color: white;
  padding-top: 50px;
}

.description-field {
  min-height: 125px;
  min-width: 430px;
}

.description-field textarea {
  min-height: 125px;
}

.img-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}
