<mat-toolbar color="primary" style="background-color: rgb(149, 161, 172)">
    <mat-toolbar-row>

      <button mat-icon-button><mat-icon (click)="sidenav.toggle()">menu</mat-icon></button>
      
      <a class="homeLink" [routerLink]="''">
        <img class="logoES" src="../../assets/img/ESLogo2_Black_NoBg_NoText_Reverse_278x155.png" />
        <span class="EStitle-black">xpress Shop</span>
      </a>

      <span class="menu-spacer"></span>

      <div>
        <a mat-button [routerLink]="'shoppingCart'" routerLinkActive="active"><i class="material-icons">shopping_cart</i></a>
      </div>
    
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav>
    
    <mat-nav-list>
      <a mat-list-item [routerLink]="'modifprofile'" routerLinkActive="active">Modifier Profil</a>
      <a mat-list-item [routerLink]="'browseProduct'" routerLinkActive="active">Produits</a>
      <a mat-list-item [routerLink]="'shoppingCart'" routerLinkActive="active">Panier d'achat</a>
    </mat-nav-list>
    
  </mat-sidenav>
  
  <mat-sidenav-content>
      <router-outlet></router-outlet>

      <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
        <p class="loadingText">{{loaderText}}</p>
      </ngx-spinner>
  </mat-sidenav-content>

</mat-sidenav-container>