<mat-toolbar color="primary" style="background-color: rgb(149, 161, 172)">
    <mat-toolbar-row>

      <button mat-icon-button><mat-icon (click)="sidenav.toggle()">menu</mat-icon></button>
      
      <a class="homeLink" [routerLink]="''">
        <img class="logoES" src="../../assets/img/ESLogo2_Black_NoBg_NoText_Reverse_278x155.png" />
        <span class="EStitle-black">xpress Shop</span>
      </a>

      <span class="menu-spacer"></span>
      <div>
        <button mat-button [matMenuTriggerFor]="menu">{{nomutilisateur}}</button>
        <mat-menu #menu>
          <button *ngIf="auth.currUser.TypeUser === this.auth.S || auth.currUser.TypeUser === this.auth.A" mat-menu-item [routerLink]="'inventaire'" routerLinkActive="active">inventaire</button>
          <button *ngIf="auth.currUser.TypeUser !== this.auth.V" mat-menu-item [routerLink]="'modifprofile'" routerLinkActive="active">Modifier Profil</button>
          <button *ngIf="auth.currUser.TypeUser === this.auth.D " mat-menu-item [routerLink]="'Favoritesupplier'" routerLinkActive="active">Founisseur(s) favori(s)</button>
          <button *ngIf="auth.currUser.TypeUser === this.auth.D " mat-menu-item [routerLink]="'Allsuppliers'" routerLinkActive="active">Toutes les compagnies</button>
        </mat-menu>
        <button mat-icon-button><mat-icon (click)="callLogout()">power_off</mat-icon></button>
        <a [allowUserTypes]="[auth.D]" mat-button matBadge="{{nbCartItems}}" [routerLink]="'shoppingCart'" routerLinkActive="active"><i class="material-icons">shopping_cart</i></a>
      </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav>
    
    <mat-nav-list>
      <a [allowUserTypes]="[auth.D, auth.S, auth.A]" mat-list-item [routerLink]="'supplierInfos'" routerLinkActive="active">Fournisseurs</a>
      <a mat-list-item [routerLink]="'browseProduct'" routerLinkActive="active">Produits</a>
      <a [allowUserTypes]="[auth.D]" mat-list-item [routerLink]="'shoppingCart'" routerLinkActive="active">Panier d'achat</a>
      <a [allowUserTypes]="[auth.S]" mat-list-item [routerLink]="'add-product'" routerLinkActive="active">Ajouter Produit</a>
      <a [allowUserTypes]="[auth.S, auth.D]" mat-list-item [routerLink]="'commande'" routerLinkActive="active">Voir vos commandes</a>
      <a [allowUserTypes]="[auth.A]" mat-list-item [routerLink]="'admin-users'" routerLinkActive="active">Gérer les utilisateurs</a>
      <a mat-list-item [routerLink]="'about'" routerLinkActive="active">À propos</a>
    </mat-nav-list>
    
  </mat-sidenav>
  
  <mat-sidenav-content>
    <router-outlet></router-outlet>

    <ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
      <p class="loadingText">{{loaderText}}</p>
    </ngx-spinner>
  </mat-sidenav-content>

</mat-sidenav-container>